.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.listContainer {
  margin-top: 50px;
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
  a {
    display: flex;
  }
}

.showMore {
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}